<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xielaoban.cqueshop.Mapper.GoodsMapper">
    <resultMap id="GoodsMap" type="Goods">
        <id property="id" column="goods_id"/>
        <result property="name" column="goods_name"/>
        <result property="desc" column="goods_desc"/>
        <result property="oriprice" column="goods_oriprice"/>
        <result property="nowprice" column="goods_nowprice"/>
        <result property="createtime" column="goods_createtime"/>
        <result property="lastupdatetime" column="goods_lastupdatetime"/>
        <result property="status" column="goods_status"/>
        <result property="salesVolume" column="goods_salesVolume"/>
        <association property="image" javaType="Image">
            <id property="id" column="goods_image"/>
            <result property="name" column="img_name"/>
            <result property="url" column="img_url"/>
            <result property="desc" column="img_desc"/>
            <result property="status" column="img_status"/>
        </association>
        <association property="category" javaType="Category">
            <id property="id" column="goods_category"/>
            <result property="categoryId" column="cat_categoryId"/>
            <result property="categoryName" column="cat_categoryName"/>
            <result property="status" column="cat_status"/>
        </association>
    </resultMap>
    <insert id="add">
        insert into goods
        values (#{id}, #{name}, #{desc}, #{image.id}, #{oriprice},
                #{nowprice}, #{createtime}, #{lastupdatetime},
                #{category.id}, #{status}, #{salesVolume})
    </insert>
    <update id="update">
        update goods
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">
                goods_name = #{name},
            </if>
            <if test="desc != null">
                goods_desc=#{desc},
            </if>
            <if test="oriprice != null">
                goods_oriprice=#{oriprice},
            </if>
            <if test="nowprice != null">
                goods_nowprice=#{nowprice},
            </if>
            <if test="lastupdatetime != null">
                goods_lastupdatetime = #{lastupdatetime},
            </if>
            <if test="category != null">
                goods_category = #{category.id}
            </if>
        </trim>
        where goods_id = #{id}
    </update>
    <update id="updateStatus">
        update goods
        set goods_status = #{status}
        where goods_id = #{goodsId}
    </update>
    <delete id="del">
        delete goods,image
        from goods,
             image
        where goods.goods_id = #{goodsId}
          and goods.goods_image = image.img_id
    </delete>

    <select id="getAll" resultMap="GoodsMap">
        select *
        from goods g,
        image i,
        category c
        where
        <if test="query != null">
            (g.goods_name like #{query} or g.goods_desc like #{query}) and
        </if>

        g.goods_category = c.cat_id
        and g.goods_image = i.img_id
    </select>
    <select id="get" resultMap="GoodsMap">
        select *
        from goods g,
             image i,
             category c
        where g.goods_id = #{id}
          and g.goods_category = c.cat_id
          and g.goods_image = i.img_id
    </select>
    <select id="getByCategoryId" resultMap="GoodsMap">
        select *
        from goods g,
             image i,
             category c
        where g.goods_category = #{categoryId}
          and g.goods_status = 1
          and g.goods_image = i.img_id
          and g.goods_category = c.cat_id
    </select>
    <select id="getAllEnabled" resultMap="GoodsMap">
        select *
        from goods g,
             image i,
             category c
        where g.goods_status = 1
          and g.goods_category = c.cat_id
          and g.goods_image = i.img_id
    </select>
    <select id="getHot" resultMap="GoodsMap">
        select *
        from goods g,
             image i,
             category c
        where g.goods_status = 1
          and g.goods_category = c.cat_id
          and g.goods_image = i.img_id
        order by goods_salesVolume desc
        limit 8
    </select>
    <select id="getUpdateGoods" resultMap="GoodsMap" resultType="arraylist">
        select *
        from goods g,
             image i,
             category c
        where g.goods_status = 1
          and g.goods_category = c.cat_id
          and g.goods_image = i.img_id
        order by g.goods_createtime desc
        limit 8
    </select>
    <select id="getByKeywords" resultMap="GoodsMap">
        select *
        from goods g,
             image i,
             category c
        where g.goods_status = 1
          and g.goods_id in
              (select goods_id from `goods` where `goods_name` like #{keywords} or `goods_desc` like #{keywords})
          and g.goods_category = c.cat_id
          and g.goods_image = i.img_id
    </select>

</mapper>