<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xielaoban.cqueshop.Mapper.GoodsMapper">

    <resultMap id="GoodsMap" type="Goods">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="desc" column="desc"/>
        <result property="oriprice" column="oriprice"/>
        <result property="nowprice" column="nowprice"/>
        <result property="createtime" column="createtime"/>
        <result property="lastupdatetime" column="lastupdatetime"/>
        <result property="status" column="status"/>
        <association property="image" javaType="Image">
            <id property="id" column="image"/>
            <result property="name" column="name"/>
            <result property="url" column="url"/>
            <result property="desc" column="desc"/>
            <result property="status" column="status"/>
        </association>
        <association property="category" javaType="Category">
            <id property="id" column="category"/>
            <result property="categoryId" column="categoryId"/>
            <result property="categoryName" column="categoryName"/>
            <result property="status" column="status"/>
        </association>
    </resultMap>
    <insert id="add">
        insert into goods
        values (#{id}, #{name}, #{desc}, #{image.id}, #{oriprice},
                #{nowprice}, #{createtime}, #{lastupdatetime},
                #{category.id}, #{status})
    </insert>

    <select id="getAll" resultMap="GoodsMap">
        select *
        from goods
    </select>
    <select id="get" resultMap="GoodsMap">
        select *
        from goods g,
             image i,
             category c
        where g.id = #{id}
          and g.status = 1
          and g.category = c.id
          and g.image = i.id
    </select>
    <select id="getByCategoryId" resultType="com.xielaoban.cqueshop.Entity.Goods">
        select *
        from goods g,
             image i,
             category c
        where g.category = #{categoryId}
          and g.status = 1
          and g.image = i.id
    </select>

</mapper>