<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xielaoban.cqueshop.Mapper.UserMapper">

    <resultMap id="UserMap" type="User">
        <id property="id" column="u_id"/>
        <result property="role" column="u_role"/>
        <result property="name" column="u_name"/>
        <result property="username" column="u_username"/>
        <result property="password" column="u_password"/>
        <result property="phone" column="u_phone"/>
        <result property="email" column="u_email"/>
        <result property="sex" column="u_sex"/>
        <result property="createtime" column="u_createtime"/>
        <result property="status" column="u_status"/>
        <result property="address" column="u_address"/>
        <result property="code" column="u_code"/>
        <association property="avatar" javaType="Image">
            <id property="id" column="u_avatar"/>
            <result property="name" column="img_name"/>
            <result property="url" column="img_url"/>
            <result property="desc" column="img_desc"/>
            <result property="status" column="img_status"/>
        </association>
    </resultMap>
    <insert id="userRegister">
        insert into user
        values (#{id}, #{role}, #{name}, #{username},
                #{password}, #{phone}, #{email}, #{avatar.id},
                #{sex}, #{createtime}, #{status}, #{address}, #{code})
    </insert>
    <update id="updateUserStatus">
        update user
        set u_status = #{status}
        where u_id = #{id}
    </update>
    <update id="update">
        update user
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">
                u_name = #{name},
            </if>
            <if test="role != null">
                u_role = #{role},
            </if>
            <if test="phone != null">
                u_phone=#{phone},
            </if>
            <if test="address != null">
                u_address = #{address},
            </if>
            <if test="sex != null">
                u_sex = #{sex},
            </if>
        </trim>
        where u_id = #{id}
    </update>
    <delete id="del">
        delete
        from user
        where u_id = #{id}
    </delete>

    <select id="getAll" resultMap="UserMap">
        select *
        from user,image
        where user.u_avatar = image.img_id
        <trim prefix="and" suffixOverrides=",">
            <if test="query != null ">
                (user.u_username like #{query} or user.u_name like #{query})
            </if>
        </trim>
    </select>
    <select id="get" resultMap="UserMap">
        select *
        from user
        where u_id = #{id}
    </select>
    <select id="userLogin" resultMap="UserMap">
        select *
        from user u,
             image i
        where (u.u_username = #{userName} or u.u_phone = #{userName})
          and u.u_password = #{password}
          and u.u_avatar = i.img_id
    </select>
    <select id="hasUsername" resultType="java.lang.Integer">
        select count(*)
        from user
        where u_username = #{username}
           or u_phone = #{phone}
    </select>


</mapper>